<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
<section>
    <nav>
        <div class="container">
            <p>AaronDiable.co.uk</p>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/">Main Page</a></li>
            </ul>
            <ul>
                <li><a href="/about">About Me</a></li>
            </ul>
            <ul>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
</section>

    <section>
        <div class="container contactSection">
            <h1>Contact Page</h1>
        </div>
    </section>
</body>
</html>